@import "tailwindcss";

@theme {
  --breakpoint-xs: 350px;
}

* {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

h1{
font-family: var(--font-primary);
}
/* Define light and dark theme variables */
:root{
  /* Fonts */
  /* --font-primary: "Playfair Display", serif; */
  --font-primary: "Marcellus", serif;
  --font-secondary: "Montserrat", sans-serif;

    --smallText-color: #ab7f5c;
}

@keyframes horizontalFloatRotateFade {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(5deg);
    opacity: 0.6;
  }
}

.animate-horizontal-float {
  animation: horizontalFloatRotateFade 6s ease-in-out infinite;
}
